body {
  max-width: 100%;
  margin: auto;
  overflow-x:hidden;
}


@font-face {
    font-family: 'Poppins-Black';
    src: url('../fonts/Poppins-Black.woff') format('woff'),
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins-Medium.woff') format('woff'),
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.woff') format('woff'),
    font-weight: 500;
    font-style: normal;
}
.tab-pane h1, .heading{
  font-family: 'Poppins-Black';
}
.tab-pane p,button{
  font-family: 'Poppins-Regular';
}
#myTab, .paragraph{
  font-family: 'Poppins-Medium';
}
#contact{
  font-family: 'Poppins-Regular';
}
#third-row{
  margin-top: 200px;
  margin-bottom: 100px;
}
#fourth-row{
  margin-top: 50px;
  margin-bottom: 50px;
}
#fifth-row{
  padding-bottom: 50px;
}
#tab-con{
  border-left:1px solid black;
}



#top-nav{
  background-color: black;
}

#logo-bar{
  box-shadow: 0 3px 2px -2px white;
}
#second-nav{
  font-family: 'Poppins-Medium';
  font-family: sans-serif;
}
#second-row{
  background-image: url(../images/2.png);
  height: 600px;
}
.big-img{
  margin-top: 200px;
}



#carousel3d .carousel-3d-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #fff;
  padding: 10px;
  -webkit-transition: all .4s;
  transition: all .4s;
}
#carousel3d .carousel-3d-slide.current {
  background-color: #333;
  color: #fff;
}
#carousel3d .carousel-3d-slide.current span {
  font-size: 20px;
  font-weight: 500;
}


footer{
  background-color: #02050e;
  font-family: 'Poppins-Black';
}
hr{
  background-color: black;
}



.nav-item a{
  color: black;
}
.nav-item a:active{
  color:yellow !important;
}


#plant{
  height: 420px;
  background-image: url(../images/12.png);
}
#plant img{
  margin-top: 200px;
  margin-left: 240px;
}
#myTabContent{
border-left: 1px solid black;
}
.plant-img{
  width: 450px;
  height: auto;
}



@media only screen and (max-width: 768px) {
  .big-img{
    width: 90%;
    margin: auto;
    margin-top: 100px;
  }
  .plant-img{
    width: 100%;
    margin: auto;
  }
  #plant{
    width: 100%;
    margin: auto;
  }
}